/ReduxExample.xcworkspace/xcuserdata/alessandromartin.xcuserdatad/UserInterfaceState.xcuserstate
/ReduxExample.xcodeproj/xcuserdata/alessandromartin.xcuserdatad/xcschemes/xcschememanagement.plist
/Pods/Pods.xcodeproj/xcuserdata/alessandromartin.xcuserdatad/xcschemes/xcschememanagement.plist
